.castList{
    display: flex;
        flex-wrap: wrap;
        column-gap: 28px;
        row-gap: 28px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1572px;
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 20px;
}

.castListItem {
    box-sizing: border-box;
    width: calc((100% - 6* 28px) / 7);

}

.castTitle {

    margin-top: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #9f9f9f;
}

.castText{
text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #9f9f9f;
}